services:
  apache:
    image: httpd:2.4
    container_name: apache_server
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./apache/my-vhost.conf:/usr/local/apache2/conf/httpd.conf
    depends_on:
      - php
   
   

  php:
    build: ./php
    container_name: php_container
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
 

  db:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: company
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
